body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(194, 248, 248);
}

.container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 40vw;
    height: 40vh;
    min-width: 500px;
    min-height: 500px;
    background-color: white;
    border-radius: 25px;
    position: relative;
}

.pcScore{
    position:absolute;
    top: 11.5rem;
    left: 8rem;
}

.userScore{
    position:absolute;
    top: 11.5rem;
    left: 20rem;
}

.btn-start-game {
    height: 2rem;
    width: 7rem;
    border-radius: 10px;
    margin: 1rem;
    background-color: rgb(150, 84, 212);
}

.btn-start-game:hover {
    background-color: rgb(166, 122, 207);
    cursor: pointer;
}

.img-choice{
    height: 60px;
    width: 45px;
    padding-bottom: 10px;
}

.div-choice{
    display: flex;
}

p{
    display:flex;
    flex-direction: column;
    text-align: center;
    margin:15px;
}

.sentence{
    font-size: 2rem;
    margin-top: 30px;
    margin-bottom: 60px;
}

.display-choices{
    display: flex;
    margin-bottom: 60px;
    justify-content: center;
    align-items: center;
}

.score{
    font-size: 1.5rem;
}

.display-img{
    height: auto;
    width:80px;
    padding: auto;
} 

.img-rotate-right{
    transform: rotate(90deg);
}

.img-rotate-left{
    transform: rotate(270deg) scaleX(-1);
}

.choice-pc{
    height: 100px;
    width: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.choice-player{
    height: 100px;
    width: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
}